/* Global styles */

footer {
   	width: 100%;
   	height: 5%;
	color: #666;
	background-color: #222;
	padding: 1% 0 4% 0;
	border-top: 1px solid #000;
}

h1 {
	margin-left: 3.5%;
	margin-right: 3.5%;
	margin-bottom: 2%;
	font-family: 'Mulish', sans-serif;
	font-size: 350%;
	color: #FFFFFF;
}

h6 {
	color:#FFFFFF;
	margin-left: 3.5%;
	margin-right: 3.5%;
}

h4 {
	margin-left: 3.5%;
	margin-right: 3.5%;
	font-family: 'Mulish', sans-serif;
	color: #FFFFFF;
}

h3 {
	color:#FFFFFF;
	margin-left: 3.5%;
	margin-right: 3.5%;
}

h2 {
	margin-left: 3.5%;
	margin-right: 3.5%;
	font-family: 'Mulish', sans-serif;
	color: #FFFFFF;
}

p {
	margin-left: 5.5%;
	margin-right: 3.5%;
	font-size: 125%;
	font-family: 'Mulish', sans-serif;
	color: #FFFFFF;
}

body { 
	background: #121212 !important; 
}

a{
	text-decoration: none;
	color: #A9A9A9;
}

a:hover{
	color: #f3b924;
	text-decoration: none;
}

.margin-21 {
	margin-bottom: 21%;
}

.margin-17 {
	margin-bottom: 17%;
}

.margin-10 {
	margin-bottom: 10%;
}

.margin-7 {
	margin-bottom: 7%;
}

.margin-5 {
	margin-bottom: 5%;
}

.margin-4 {
	margin-bottom: 4%;
}

.margin-3 {
	margin-bottom: 3%;
}

.margin-2 {
	margin-bottom: 2%;
}

.margin-1 {
	margin-bottom: 1%;
}

.sib{
	background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
	padding: 5%;
}

.text-center {
    text-align: center!important;
}

.py-2 {
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
}

.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}

.sib:hover {
    transform: scale(1.05);
    box-shadow: 50px rgba(0,0,0,.9)!important;
}









/* header*/

.header {
	padding-top: 1%;
	padding-bottom: 1%;
}

.header h1 {
	margin-top: 3%;
	color: white;
}

.nav-container{
    border: none !important; outline: none !important;
}

.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}





/* content*/

.big {
	width: 55%;
	height: 55%;
	margin-top: 5%;
	border: solid 1px;
	border-color: #A9A9A9;
}

.content {
	margin: 2%;
	padding: 2%;
	background-color: #1E1E1E;
	border-radius: 15px;
}

.f404 {
	padding: 1% 0 5% 0;
}

.butn {
	margin-left: 40%;
}

.butn a{
	color: #666;
}

.btnn{
	margin-bottom: 2%;
}

.btn{
	background: #1E1E1E;
	border: none;
}

.btn:hover{
	background: #BB86FC;
	border: solid 1px;
	border-color: #343434;
}

.zag {
	text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul {
	color: #A9A9A9;
	margin-left: 3.5%;
	margin-right: 3.5%;
}

.opisSib {
	margin-bottom: 5%;
}









/* scrollbar */

::-webkit-scrollbar{
	width: 10px;
	background: #e6e4e2;
}

::-webkit-scrollbar-thumb{
	background: #b8b4b2;
	border: solid 1px;
	border-radius: 6px;
	border-color: #A9A9A9;
}

::-webkit-scrollbar-thumb:hover{
	background: #a19d9b;
	border: solid 1px;
	border-radius: 6px;
	border-color: #A9A9A9;
}

::-moz-scrollbar{
	width: 12px;
	background: #e6e4e2;
}

::-moz-scrollbar-thumb{
	background: #b8b4b2;
	border: solid 1px;
	border-radius: 6px;
	border-color: #A9A9A9;
}

::-moz-scrollbar-thumb:hover{
	background: #a19d9b;
	border: solid 1px;
	border-radius: 6px;
	border-color: #A9A9A9;
}